//-
    Copyright (c) 2017 Shota Shimazu.
    Created by Shota Shimazu on 2017/11/27


extends templates/_layout.pug

block contents
    .jumbotron.ss_top_jumbotron
        .row
            .col-md-6
                h1.ss_top_jumbotron_text Shota
                h1.ss_top_jumbotron_text Shimazu
            .col-md-6
                h1.ss_top_jumbotron_text SS

    button.menu_button
