//-
    Copyright (c) 2017 Shota Shimazu.
    Created by Shota Shimazu on 2017/11/27


extends templates/_layout.pug

block contents
    .jumbotron.ss_top_jumbotron
        .row
            .col-md-6.ss-card.ss-card-blue
                h1.ss_top_jumbotron_text Shota
                h1.ss_top_jumbotron_text Shimazu
            .col-md-6.ss-card
                .text-center
                    img.avator(src="./assets/ava.jpg" class="rounded" alt="...")

    button.menu_button#toggle

    .container
        .row
            .col-12
                h1 About

        .row
            .col-12
                h1 Works
