//-
    Copyright (c) 2017 Shota Shimazu.
    Created by Shota Shimazu on 2017/11/27


extends templates/_layout.pug

block contents
    .jumbotron.ss_top_jumbotron
        .row
            .col-md-6.ss-card.ss-card-transparent
                h1.ss_top_jumbotron_text
                    span.text-bg Shota <br> Shimazu
            .col-md-6.ss-card.ss-card-transparent
                .text-center
                    img.avator(src="./assets/ava.jpg" class="rounded" alt="...")

    button.menu_button#toggle
    

    .container
        .row
            .col-12
                h1 About Me   
        .row
            .col-12.ss-card-blue
                p 1997年に神奈川県横浜市保土ヶ谷区という都会に見られがちなクソ田舎に生まれる。<br>
                | 横浜市内各所、 博多で育つ。<br>
                | 幼少期よりエレクトーンを開始し音楽を始める。<br>
                | 貿易センターのテロによりボストンから帰れなかったため、しばらくボストンで過ごす。<br>
                | 小学校入学する<br>
                | ピアノを始める<br>
                | ボーカル合唱を始める<br>
                | コンクールとかで優勝する<br>
                | 中学入学<br>
                | 色々した<br>
                | 同校高等課程進学<br>
                | 色々した<br>
                | 慶應義塾大学に入学<br>
                | oh my goood! SHINCHOKU ZERO
                

        .row
            .col-12
                h1 Works
