//-
    Copyright (c) 2017 Shota Shimazu.
    Created by Shota Shimazu on 2017/11/27


extends templates/_layout.pug

block contents
    h1.mega-message.ss_top_jumbotron_text.text-direction-vertical 灰色の景色にも光がある
    .jumbotron.ss_top_jumbotron
        .row
            .col-md-6.ss-card.ss-card-blue
                h1 あぁぁぁ
            .col-md-6.ss-card.ss-card-transparent
                .text-center
                    img.avator(src="./assets/ava.jpg" class="rounded" alt="...")

    button.menu_button#toggle
    

    .container
        .row
            .col-12
                h1 About Me
        .row
            .col-12
                p 1997年に神奈川県横浜市に生まれる。幼少期より

        .row
            .col-12
                h1 Works
        
