//-
    Copyright (c) 2017 Labbiness.
    Created by Shota Shimazu on 2017/08/30


meta(charset="UTF-8")
//  Copyright (c) 2017 Shota Shimazu
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet")

link(
    rel="stylesheet"
    href="./site.css"
)
title I'm shota!
