//-
    Copyright (c) 2017 Shota Shimazu
    Created by Shota Shimazu on 2017/11/27

doctype html

html(lang="ja")
    head
        include _head.pug

    body.apply-bg
        //- Google Analytics Tracking System
        include _google_analytics.pug

        //- Navigation Menu
        //- include _navigation.pug

        block contents

        include _scripts.pug
