head
  //
  //I'm a freshman of faculty of Environment and Information studies at Keio University.
  //訳: SFCの人、仲良くしましょう。(笑)　Twitter: shota_elstd
  //    _____________
  //   / __/ __/ ___/
  //  _\ \/ _// /__
  // /___/_/  \___/
  //
  script
    if(location.protocol == 'http:') {
      location.replace(location.href.replace(/http:/, 'https:'));
    }
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title SHOTA - Profile
  link(href="lib/bootstrap.css" rel="stylesheet")
  link(href="style.css" rel="stylesheet")
