.jumbotron
  .container
    h1.font-set-fredoka
        // My name
        span.rv(id="hi") Hi!
        span.rv(id="im") I'm
        span.rv(id="shota") Shota
        span.rv(id="peroid") .
        span.rv(id="fn") Shota
        span.rv(id="ln") Shimazu
    <p class="font-set-fredoka rv">
        <span class="rv">I am japanese undergraduate student at Keio University.</span>
        <span class="rv">I'm </span>
    </p>


    <p>
      <div class="btn-group rv">
        <a href="https://twitter.com/shota_elstd" class="btn btn-success btn-lg">Follow me!</a>
        <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://www.facebook.com/shota.shimazu.5">Facebook</a></li>
          <li><a href="https://www.instagram.com/shota_elstd/">Instagram</a></li>
          <li><a href="https://vine.co/u/1003237590335479808">Vine</a></li>
        </ul>
      </div>
    </p>
  </div>
</div>
