style
  .alert {
      margin: 0;
      border-radius: 0;
  }
.alert.alert-dismissible.alert-danger.rv
  button(type="button" class="close" data-dismiss="alert") &times;
  strong Warning!
  p This site is now under construction.

script
  var lang = window.navigator.userLanguage || window.navigator.language || window.navigator.browserLanguage;

  var StringDefault = ''+
        `<div class="alert alert-dismissible alert-info rv">`+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<strong>Notice</strong>'+
          '<p>'+
              'Thank you for your cooperting in this questionare.'+
              '<!--<a href="survey4loops.html" class="btn btn-success">Move to form</a>-->'+
          '</p>'+
        '</div>';

  var StringJa = ''+
    '<div class="alert alert-dismissible alert-info rv">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<strong>おしらせ</strong>'+
          '<p>'+
              'アンケートにご協力ありがとうございました。'+
              '<!--<a href="survey4loops.html" class="btn btn-success">こちらから</a>-->'+
          '</p>'+
        '</div>';

  if ( lang === "ja" ) {
      document.write(StringJa);
  } else {
      document.write(StringDefault);
  }

// comment end
