$img_size: 300px;
$img_size__mobile: 220px;

.avatar_image {
    width: $img_size;
    height: $img_size;
    border-radius: 50% !important;
}

.wrap {
    max-width: 50%;
    background: red;
    margin: 0 auto;
}



@media screen and (max-width: 480px) {
    .avatar_image {
        width: $img_size__mobile;
        height: $img_size__mobile;
    }
    
}
