.copyright_text {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
    p {
        font-size: 0.7rem;
    }
}
