@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

.name_header_bg {
    background: #9AE0FF;
}

.name_header {
    font-size: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #FF4141;
}


@media screen and (max-width: 480px) {
    .name_header {
        font-size: 5rem;
    }
}
