.ss_top_jumbotron {
    height: 100vh;
    width: 100vw;
    background-color: #464646;    
    // background: url("./assets/music_creating.png");
    background: url("./assets/bg_big.svg");
    // background: #FFCE54;
    mask-image: linear-gradient(black 0%, transparent 100%);    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    border-radius: 0;
}

.ss_top_jumbotron_text {
    color: #F62459;
    font-size: 10rem;
    font-weight: 400;
    font-family: 'Fredoka One', cursive;
}

.apply-bg {
    height: 100vh;
    width: 100vw;
    background-color: #464646;    
    // background: url("./assets/music_creating.png");
    background: url("./assets/bg_big.svg");
    // background: #FFCE54;
    mask-image: linear-gradient(black 0%, transparent 100%);    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
