//-
    Copyright (c) 2017 Shota Shimazu.
    Created by Shota Shimazu on 2017/11/27

extends templates/_layout.pug

block contents
    h1.mega-message.ss_top_jumbotron_text.text-direction-vertical
        span.text-bg 灰色の景色にも光がある
    .jumbotron.ss_top_jumbotron
        .row
            

    button.menu_button#toggle
    

    .container
        .row
            h1.section-text About My Life
            .section-line
        .row.ss-card
            .col-12.ss-card-radical-red
                p 1997年に神奈川県横浜市保土ヶ谷区に生まれる。<br>
                    | 慶應義塾大学に入学<br>
                
        .row
            h1.section-text Works   
            .section-line
        .row.ss-card
            .col-12.ss-card-transparent
                p なんも進捗ないーーーー

    .copyright
        p Copyright © 2017 Shota Shimazu All rights reserved.
